<!DOCTYPE html>
<html style="overflow-y: scroll" xmlns="http://www.w3.org/1999/html">

<head>
  <title>Saturn Games</title>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="//db.onlinewebfonts.com/c/1162c826938879ab22f701479e88a703?family=Planetor" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style type="text/css">
    .mobileShow {
      display: none;
    }

    /* Smartphone Portrait and Landscape */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      .mobileShow {
        display: inline;
      }
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  {% block content %}{% endblock %}
</body>

</html>