{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}

<h3 class="hello_message">Hello {{ NAME }} <br> What do you want to play today?</h3>
<div class="planet"></div>
<div class="buttons">
<a href="{{ url_for('rockpaperscissors')}}"><div  class="button games">RPS</div></a>
<div class="button games"><a href="">Comming soon GAME</a></div>
<div class="button games"><a href="">Comming soon GAME</a></div>
<div class="button games"><a href="">Comming soon GAME</a></div>
</div>
<table class="scores-table">
    <tr>
        <th>Name</th>
        <th>Points</th></tr>
        {% for p in Players %}
        <tr>
            <td>{{ p.username }}</td>
            <td>{{ p.points }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
   