{% extends "base.html" %}
{% block content %}
<div class="navbar">
  <span id="logo"></span> 
  <li id="saturn_games" ><a href="#home">SATURN GAMES</a></li>
  <ul>
    <li><a href="{{ url_for('rockpaperscissors')}}">RPS</a></li>
    <li><a href="#">LOJE</a></li>
    <li ><a href="/logout"><button  id="log_out">Log OUT</button></a></li>
  </ul>
</div>
{% endblock %}