{% extends 'base.html' %}

{% block content %}

<body class="background">
    <h1 class="welcome_text">Welcome to Saturn Games</h1>
    <div class="register_form_positioning">
        <p class="login_info">Create User</p>
        <form action="{{ url_for('new_user_form') }}" class="col s12 loginform" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input id="username" name="username" type="text" class="validate" autocomplete="off">
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" name='password' type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" name="action" type="submit">Create
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</body>
{% endblock %}


<!--

<body class="background">
    <h1 class="welcome_text">Welcome to Saturn Games</h1>
    <div class="login_form_positioning" id="lform" style="width:30%;">
        <p id="login_info" style="text-align: center;">To enjoy the Saturn Games <br>please sign or <a
                href='/new_user'>register</a>.</p>
        <div class="center-align">
            <form action="" method="post" autocomplete="off" novalidate class="loginform ">
                {{ form.hidden_tag() }}
                <p id='login_username'>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}
                </p>
                <p id='login_password'>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                {# <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p> #}
                <button id='submit' style="text-align: center;">{{ form.submit() }}</button>
            </form>
        </div>
    </div>
</body>
-->