{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block content %}

<div class="rps_background">
<a href="{{ url_for('index')}}"><button action="" class="exit_game"  >Exit Game</button></a>
<div class="points">YOUR POINTS:{{ POINTS}}</div>
  <div class="alien"></div>

  <!-- transform: scale3d(0.1, 0.1, 0.2)translate(-2220px, -930px); -->
  <div class="rps">
    <div class="row" id="radios">
      <form id="myform" method="GET">
        <label for="rock">
          <input type="radio" name="choise" id="rock" value="rock" oninput="this.form.submit();document.getElementById('comments').style.visibility = 'visible';"/>
          <span><i class="fas fa-hand-rock"></i>
          </span>
        </label>
        <label for="paper">
          <input type="radio" name="choise" id="paper" value="paper" oninput="this.form.submit();document.getElementById('comments').style.visibility = 'visible';"/>
          <span><i class="fas fa-hand-paper"></i></span>
        </label>
        <label for="scissors">
          <input type="radio" name="choise" id="scissors" value="scissors"  oninput="this.form.submit();document.getElementById('comments').style.visibility = 'visible';"/>
          <span><i class="fas fa-hand-scissors"></i>
          </span>
        </label>
       
      </form>
    </div>
  </div>
  <ul class="score">
    <li>ROUND : {{ RANGU }}</li>
    <li>SCORE:</li>
    <li>{{ NAME }} </li>
    <li>{{YOUR_POINTS}}</li>
    <li>Tie</li>
    <li>{{TIES}}</li>
    <li>Aliens</li>
    <li>{{AI_POINTS}}</li>
  </ul>
  <div class="game_comments" id="comments">
    <p class="">Alien choosed {{ AI }}<br>
      You choosed {{ YOU }}</p>
    <p class="">{{ Message }}<br>{{ Winner }}</p>

  </div>
</div>

<script type="text/javascript">
  function validateRadio() {
    document.getElementById('comments').style.visibility = 'visible';

  }
</script>
{% endblock %}