@import url(//db.onlinewebfonts.com/c/1162c826938879ab22f701479e88a703?family=Planetor);

html {
    overflow: hidden !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Planetor";
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}
@font-face {
    font-family: "Planetor";
    src: url("//db.onlinewebfonts.com/t/1162c826938879ab22f701479e88a703.eot");
    src: url("//db.onlinewebfonts.com/t/1162c826938879ab22f701479e88a703.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/1162c826938879ab22f701479e88a703.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/1162c826938879ab22f701479e88a703.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/1162c826938879ab22f701479e88a703.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/1162c826938879ab22f701479e88a703.svg#Planetor") format("svg");
}
.background {
    background-image: url(https://image.freepik.com/free-vector/galaxy-with-cartoon-planets-space-background_114341-48.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Login Page*/
.login_form_positioning {
    top: 29%;
    left: 36%;
    position: absolute;
}
.login_form_positioning label {
    color: rgba(0, 0, 0, 0.87);
}

.login_form_positioning input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

.welcome_text {
    font-family: Planetor;
    text-align: center;
    position: absolute;
    top: 0%;
    width: 97%;
    color: #64e4e1;
    font-size: 5.5em;
    margin: 2% 3% 1% 2%;
}
.login_info {

    font-size: 1.7em;
    color: #032927;
}
.register_form_positioning{
top: 21%;
left: 40%;
position: absolute;
text-align: center;
font-size: 3rem;
}
#submit {
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 22px;
    text-decoration: none;
    color: #07213a;
    font-family: Planetor;
    font-weight: 500;
    background-image: linear-gradient(-120deg, #cee374 0%, #35a099 50%, #4cb3b0 40%);
    border: 1px solid;
    background-size: 240%;
    transition: all 0.3s;
}

/*Login Page*/
/*Navbar*/
.navbar ul {
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.navbar li#saturn_games {
    flex-basis: 33%;
}
.navbar {
    margin: 0;
    padding: 0;
    background-color: #03312e;
    overflow: hidden;
    display: flex;
    place-items: center;
}

.navbar ul {
    list-style-type: none;
    width: 100%;
}
.navbar li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Planetor";
}

.navbar li {
    position: relative;
    display: inline-block;
}
.navbar a:hover {
    background-color: #037171;
    color: black;
}

.navbar a.active {
    background-color: #009f93;
}

#logo {
    background-image: url(../images/auto_auto_clipi14731612591540108672.jpg);
    height: 54px;
    width: 10%;
    float: left;
    background-size: 57%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 8;
    margin-top: 5px;
}
#log_out {
    text-transform: uppercase;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 22px;
    text-decoration: none;
    color: #07213a;
    font-family: Planetor;
    font-weight: 500;
    background-image: linear-gradient(-120deg, #cee374 0%, #35a099 50%, #4cb3b0 40%);
    border: 1px solid;
    background-size: 101%;
    transition: all 0.3s;
    font-size: 15px;
}
#saturn_games {
    margin: 0;
}
#saturn_games a {
    font-size: 26px;
    color: cadetblue;
    padding-left: 0;
}
/*Navbar*/

/*Index page*/
.hello_message {
    margin: 8%;
    font-size: 45px;
    text-align: center;
}

.games {
    margin: 1% 1.5%;
    /* height: 105px; */
    width: 37%;
    background-color: #009f93;
    border: solid #031f1c;
    color: #fafafa;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 43px;
    display: inline-block;
    cursor: pointer;

    
}
.scores-table{
    position: absolute;
    top: 52%;
    /* right: 10%; */
    left: 81%;
    width: 147px;
    font-size: x-large;
    margin: 0 2%;

}
.buttons{

}
.planet{background-image: url(../images/kissclipart-planet-clipart-uranus-planet-solar-system-bdf4523b04e4bc46.png);
position: absolute;
top: 7%;
left: 69%;
width: 27%;
height: 48%;
background-position: center;
background-repeat: no-repeat;
background-size: 91%;}
.games:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



/*RPS*/
.rps_background {
    background-image: url(../images/32546.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
}

.alien {
    background-image: url(../images/kissclipart-cartoon-alien-spaceship-clipart-spacecraft-clip-ar-fd146f961072c7ad.png);
    position: absolute;
    top: -2%;
    left: 53%;
    width: 28%;
    height: 54%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 111%;
}
.bubble {
    background: transparent;
}
.dialog_buoble {
    
    position: absolute;
    top: -2%;
    left: 53%;
    width: 28%;
    height: 54%;
    background: transparent;
}

/* =============================================
    * RADIO BUTTONS
    =============================================== */

.rps {
    position: absolute;
    top: 25%;
    left: 29%;
}
.rps #radios label {
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 60px;
    margin: 0 auto;
    color: #02c3bd;
}
.rps [type="radio"] + span:before,
[type="radio"] + span:after {
    opacity: 0;
}
.rps #radios label + label {
    margin-left: 15px;
}

.rps input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.rps input[type="radio"] + span {
    border-radius: 27%;
    padding: 16px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    font-size: 4rem;
    border: solid skyblue;
    height: 1%;
    border-radius: 45%;
}

.rps input[type="radio"]:checked + span {
    background-color: #00b9ae59;
}

.rps input[type="radio"]:focus + span {
    color: #fff;
}

.rps #radios label:hover::before {
    content: attr(for);
    text-transform: capitalize;
    font-size: 11px;
    position: absolute;
    top: 170%;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: #323232;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    display: block;
}

.score {
    font-size: 2rem;
    position: absolute;
    top: 1%;
    left: 2%;
    text-align: center;
    color: antiquewhite;
}

.game_comments {
    position: absolute;
    top: 39%;
    left: 32%;
    color: #ee6e73;
    font-size: 3rem;
    text-align: center;
}
#comments{
    visibility: hidden;
}
.exit_game{
    position: absolute;
    top: 79%;
    left: 85%;
    background: #01080e;
    border: double #b1b1b1 6px;
    border-radius: 27%;
    width: 8%;
    height: 6%;
    color: aquamarine;
}
.points{
    position: absolute;
    top: 5%;
    left: 78%;
    font-size: 2rem;
    color: bisque;
    width: 16%;
    margin: 0 1%;
    border: double;
    padding: 6px 10px;

}
.choose{
    position: absolute;
    top: 22%;
    left: 116%;
    background: #6d2b2feb;
    border: double #b1b1b1 6px;
    border-radius: 24%;
    width: 32%;
    height: 39%;
    color: aquamarine;
}
/*RPS*/
